.movie-list {
  padding: 32px 16px;
  .movies-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .movie {
      position: relative;
      display: flex;
      width: 20%;
      padding: 10px;
      flex-direction: column;
      .movie-img {
        position: relative;
        overflow: hidden;
        height: 100%;
        &:hover {
          .overview {
            transform: translateY(0);
          }
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        .review {
          position: absolute;
          top: 0;
          left: 0;
          @include centered-flex(column);
          width: 40px;
          height: 40px;
          background-color: $primary-red;
          color: #fff;
          border-radius: 0 0 16px 0;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
        .overview {
          line-height: 1.5;
          position: absolute;
          bottom: 0;
          background-color: $secondary-red;
          padding: 12px;
          font-size: $font-small;
          font-style: italic;
          color: #fff;
          margin: 0;
          transform: translateY(100%);
          transition: transform 0.3s ease-in-out;
        }
      }
      .info {
        .title {
          position: relative;
          margin: 8px 0 0;
          font-size: $font-large;
          &:hover {
            .full-title {
              display: block;
            }
          }
          .full-title {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $secondary-gray;
          }
        }
        .release {
          margin-top: 5px;
          font-size: $font-small;
          span {
            font-style: italic;
            color: $primary-gray;
          }
        }
        .button {
          margin-top: 8px;
        }
      }
    }
  }

  .spinner-wrapper {
    margin-top: 10%;
    @include centered-flex(inherit);
  }
}

@media (max-width: 1024px) {
  .movie-list {
    .movies-grid {
      .movie {
        width: 25%;
      }
    }
  }
}

@media (max-width: 768px) {
  .movie-list {
    .movies-grid {
      .movie {
        width: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  .movie-list {
    .movies-grid {
      .movie {
        width: 100%;
      }
    }
  }
}
