$font-family: Arial, Helvetica, sans-serif;
$font-small: 0.8rem;
$font-middle: 1rem;
$font-large: 1.2rem;

$primary-gray: #949494;
$secondary-gray: #f2f2f2;
$primary-red: #c92502;
$secondary-red: #b95a44;
