body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main-container {
  padding-top: 12em;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.movie-list {
  padding: 32px 16px;
}
.movie-list .movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.movie-list .movies-grid .movie {
  position: relative;
  display: flex;
  width: calc(20% - 20px);
  padding: 10px;
  flex-direction: column;
}
.movie-list .movies-grid .movie .movie-img {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.movie-list .movies-grid .movie .movie-img:hover .overview {
  transform: translateY(0);
}
.movie-list .movies-grid .movie .movie-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.movie-list .movies-grid .movie .movie-img .review {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #c92502;
  color: #fff;
  border-radius: 0 0 16px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.movie-list .movies-grid .movie .movie-img .overview {
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  background-color: #b95a44;
  padding: 12px;
  font-size: 0.8rem;
  font-style: italic;
  color: #fff;
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie-list .movies-grid .movie .info .title {
  position: relative;
  margin: 8px 0 0;
  font-size: 1.2rem;
}
.movie-list .movies-grid .movie .info .title:hover .full-title {
  display: block;
}
.movie-list .movies-grid .movie .info .title .full-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}
.movie-list .movies-grid .movie .info .release {
  margin-top: 5px;
  font-size: 0.8rem;
}
.movie-list .movies-grid .movie .info .release span {
  font-style: italic;
  color: #949494;
}
.movie-list .movies-grid .movie .info .button {
  margin-top: 8px;
}

@media (max-width: 1024px) {
  .movie-list .movies-grid .movie {
    width: calc(25% - 20px);
  }
}
@media (max-width: 768px) {
  .movie-list .movies-grid .movie {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .movie-list .movies-grid .movie {
    width: 100%;
  }
}
.search-bar {
  display: flex;
  margin: 1rem 10px 0.5rem;
}
.search-bar input {
  outline: none;
  border: 1px solid #949494;
  border-radius: 5px 0 0 5px;
  width: 90%;
  font-size: 1rem;
  padding: 5px 3px;
}
.search-bar button {
  outline: none;
  border: none;
  margin: 0;
  padding: 5px 0 3px;
  border-radius: 0 5px 5px 0;
  width: 10%;
  background-color: #b95a44;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #c92502;
}
.search-bar button .search-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/icons/search.svg") no-repeat center center;
}/*# sourceMappingURL=styles.css.map */