body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.main-container {
  padding-top: 12em;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.loader {
  color: #28292b;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.search-logs-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 40%;
  max-height: 40vh;
  overflow-y: auto;
  z-index: 4;
  padding: 3rem 0;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 14px -2px black;
}
.search-logs-modal ul {
  list-style: none;
}
.search-logs-modal ul li {
  padding: 0.5rem 0;
}

@media (max-width: 768px) {
  .search-logs-modal {
    min-width: 80%;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #28292b;
  color: white;
  padding: 20px 30px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.header ul {
  width: 100%;
  padding: 0 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header ul a {
  text-decoration: none;
  color: white;
}
.header ul .button {
  cursor: pointer;
  background-color: #c92502;
  padding: 10px 20px;
  border-radius: 5px;
}

.movie-list {
  padding: 32px 16px;
}
.movie-list .movies-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.movie-list .movies-grid .movie {
  position: relative;
  display: flex;
  width: 20%;
  padding: 10px;
  flex-direction: column;
}
.movie-list .movies-grid .movie .movie-img {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.movie-list .movies-grid .movie .movie-img:hover .overview {
  transform: translateY(0);
}
.movie-list .movies-grid .movie .movie-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.movie-list .movies-grid .movie .movie-img .review {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: #c92502;
  color: #fff;
  border-radius: 0 0 16px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.movie-list .movies-grid .movie .movie-img .overview {
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  background-color: #b95a44;
  padding: 12px;
  font-size: 0.8rem;
  font-style: italic;
  color: #fff;
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie-list .movies-grid .movie .info .title {
  position: relative;
  margin: 8px 0 0;
  font-size: 1.2rem;
}
.movie-list .movies-grid .movie .info .title:hover .full-title {
  display: block;
}
.movie-list .movies-grid .movie .info .title .full-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}
.movie-list .movies-grid .movie .info .release {
  margin-top: 5px;
  font-size: 0.8rem;
}
.movie-list .movies-grid .movie .info .release span {
  font-style: italic;
  color: #949494;
}
.movie-list .movies-grid .movie .info .button {
  margin-top: 8px;
}
.movie-list .spinner-wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: inherit;
}

@media (max-width: 1024px) {
  .movie-list .movies-grid .movie {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .movie-list .movies-grid .movie {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .movie-list .movies-grid .movie {
    width: 100%;
  }
}
.search-bar {
  display: flex;
  margin: 1rem 10px 0.5rem;
}
.search-bar input {
  outline: none;
  border: 1px solid #949494;
  border-radius: 5px 0 0 5px;
  width: 90%;
  font-size: 1rem;
  padding: 5px 3px;
}
.search-bar button {
  outline: none;
  border: none;
  margin: 0;
  padding: 5px 0 3px;
  border-radius: 0 5px 5px 0;
  width: 10%;
  background-color: #b95a44;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #c92502;
}
.search-bar button .search-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/icons/search.svg") no-repeat center center;
}/*# sourceMappingURL=styles.css.map */